---
import Header from '../components/Header.astro';
import Cta from '../components/Cta.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Welcome to Astro.">
	<main>
	<Header />
	<Hero />
	<Cta />
		
	</main>
</Layout>

