---
import Header from '../components/Header.astro';
import Cta from '../components/Cta.astro';
import Hero from '../components/Hero.astro';
import Works from '../components/Works.astro';
import Testimoneals from '../components/Testimoneals.astro';
import Redessociales from '../components/Redessociales.astro';
import Info from '../components/Info.astro';
import Habilidades from '../components/Habilidades.astro';
import AdditionalServices from '../components/AdditionalServices.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="APRASRANET">
	<main>
	<Header />
	<Hero />
	<Cta />
	<Testimoneals />
	<Works />
	<Habilidades />
	<AdditionalServices />
	<Redessociales />
	<Info />
	
		
	</main>
</Layout>

