<section class="bg-gradient-to-b from-white to-gray-100 dark:from-gray-900 dark:to-gray-800 py-16">
  <div class="container mx-auto px-4 lg:grid lg:grid-cols-2 lg:gap-16 lg:items-center">
    
    <!-- Text Content -->
    <div class="text-gray-700 dark:text-gray-400">
      <h1 class="text-4xl font-bold mb-8 dark:text-white">
        APRASRA<span class="text-primary-600">NET</span>:<span class="text-black"> Innovación y Estrategia en Cada Proyecto</span>
      </h1>
      
      <p class="mb-6 text-lg leading-relaxed">
        En APRASRANET, somos más que una empresa de marketing; somos tus socios estratégicos en el éxito. Con un enfoque centrado en la innovación, diseñamos y desarrollamos soluciones personalizadas que impulsan tu negocio hacia adelante. Desde la estrategia hasta la ejecución, nos aseguramos de que cada proyecto refleje la visión única de tu marca.
      </p>
      
      <p class="text-lg leading-relaxed">
        ¿Quieres ver lo que hemos logrado? Revisa nuestros proyectos y descubre cómo hemos ayudado a otras empresas a alcanzar nuevas alturas.
      </p>
      
      <a href="#projects"
      class="mt-8 inline-block bg-[#B04AC4] text-white dark:text-gray-200 text-lg font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-[#9e3f9e] transition-colors duration-300 border border-transparent hover:border-gray-300 dark:hover:border-gray-600">
       Ver proyectos
   </a>
   
    </div>
    
    <!-- Image Gallery -->
    <div class="grid grid-cols-2 gap-6 mt-10 lg:mt-0">
      <img class="w-full h-auto rounded-lg shadow-lg transition-transform duration-300 hover:scale-105" src="img/img2.jpg" alt="Office content 1">
      <img class="w-full h-auto rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 lg:mt-6" src="https://th.bing.com/th/id/R.66b55804e374ab81f407cb67a97eaeec?rik=ddnu9Nf7MmINhQ&riu=http%3a%2f%2fimages7.memedroid.com%2fimages%2fUPLOADED894%2f5f0502441774c.jpeg&ehk=iY5dVQkynNpysrc3A4LOq0006hjBoQHzCNDmP4SH7YQ%3d&risl=&pid=ImgRaw&r=0" alt="Office content 2">
    </div>
    
  </div>
</section>
