<section class="p-8 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg mx-auto">
  <h2 class="text-2xl mb-6 text-gray-800 text-center font-bold">Habilidades</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-2xl border">
      <h3 class="text-xl mb-4 text-gray-700 dark:text-white font-semibold">Lenguajes de programación</h3>
      <ul class="list-none p-0 m-0">
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">HTML</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">CSS</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">JavaScript</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">PHP</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Python</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Ionic</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Astro</li>
      </ul>
    </div>
    <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-2xl border">
      <h3 class="text-xl mb-4 text-gray-700 dark:text-white font-semibold">Frameworks y bibliotecas</h3>
      <ul class="list-none p-0 m-0">
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Angular</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Bootstrap</li>
      </ul>
    </div>
    <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-2xl border">
      <h3 class="text-xl mb-4 text-gray-700 dark:text-white font-semibold">Bases de datos</h3>
      <ul class="list-none p-0 m-0">
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">MySQL</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">MongoDB</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">SQL Server</li>
      </ul>
    </div>
    <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-2xl border">
      <h3 class="text-xl mb-4 text-gray-700 dark:text-white font-semibold">Herramientas y tecnologías</h3>
      <ul class="list-none p-0 m-0">
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Git</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">GitHub</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Node.js</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">npm</li>
      </ul>
    </div>
    <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-2xl border">
      <h3 class="text-xl mb-4 text-gray-700 dark:text-white font-semibold">Diseño y UX</h3>
      <ul class="list-none p-0 m-0">
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Diseño responsive</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">UX/UI</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Adobe XD</li>
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Figma</li>
      </ul>
    </div>
    <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-2xl border">
      <h3 class="text-xl mb-4 text-gray-700 dark:text-white font-semibold">Otros</h3>
      <ul class="list-none p-0 m-0">
        <li class="text-gray-600 dark:text-white py-2 border-b border-gray-200">Marketing digital</li>
        <li class="text-gray-600 dark:text-white py-2">Pruebas y depuración</li>
      </ul>
    </div>
  </div>
</section>
