<section class="h-auto bg-gray-200 dark:bg-gray-900 py-8 md:py-12">
    <div class="grid max-w-screen-xl px-4 mx-auto lg:gap-8 xl:gap-0 lg:py-12 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <style>
          @media (max-width: 640px) { /* Pantallas móviles */
            .custom-margin-mobile {
              margin-top: 3rem; /* Ajusta según necesites */
              margin-bottom: 2rem; /* Reduce el espacio en la parte inferior */
            }
          }
          @media (min-width: 641px) { /* Pantallas de tamaño medio y mayores */
            .custom-margin-mobile {
              margin-top: 1rem;
              margin-bottom: 4rem; /* Ajusta el espacio en la parte inferior en pantallas más grandes */
            }
          }
        </style>
        
        <h1 class="max-w-2xl mb-4 text-3xl font-extrabold tracking-tight leading-none md:text-4xl lg:text-5xl dark:text-white custom-margin-mobile">
          "Impulsa tu software con marketing experto"
        </h1>
        
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-base lg:text-lg dark:text-gray-400">
          En APRASRANET, creamos estrategias de marketing digital diseñadas para aumentar la visibilidad y el crecimiento de tu software. Desde la optimización de tu presencia en línea hasta campañas creativas, te ayudamos a alcanzar tus objetivos. ¿Listo para destacar en el mercado? Contáctanos y descubre cómo podemos impulsar tu éxito.
        </p>
        <div class="flex flex-col space-y-4 mt-8 md:flex-row md:space-y-0 md:space-x-4">
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900 w-full md:w-auto">
            Más información
            <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </a>
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 w-full md:w-auto">
            Agenda una llamada
          </a>
        </div>
      </div>
      <div class="hidden lg:mt-8 lg:col-span-4 lg:flex justify-center items-center">
        <div class="relative overflow-hidden rounded-lg transform transition-all duration-700 hover:scale-105 hover:shadow-2xl">
            <img src="img/11.jpg" alt="mockup" class="object-cover w-full h-full">
            <div class="absolute inset-0 bg-gradient-to-t from-gray-900 to-transparent opacity-0 hover:opacity-50 transition-opacity duration-700"></div>
        </div>
    </div>
    
    
    </div>
  </section>
  