<section class="bg-white dark:bg-gray-900 py-16 mt-4 sm:mt-6 md:mt-12">
  <div class="container mx-auto px-6 max-w-screen-lg">
    <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-12 text-center md:text-4xl">
      Contáctanos
    </h2>
    <div class="flex flex-wrap justify-center gap-4 sm:gap-6 md:gap-8">
      <!-- Instagram -->
      <a href="https://www.instagram.com/aprasranet" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center p-4 bg-gradient-to-r from-pink-500 to-pink-600 rounded-full border-2 border-transparent hover:border-pink-400 shadow-lg transition-all transform hover:scale-105 hover:shadow-xl duration-300">
        <i class="fab fa-instagram text-3xl sm:text-4xl text-white"></i>
      </a>
      <!-- Facebook -->
      <a href="https://www.facebook.com/yeraay.mc" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center p-4 bg-gradient-to-r from-blue-500 to-blue-600 rounded-full border-2 border-transparent hover:border-blue-400 shadow-lg transition-all transform hover:scale-105 hover:shadow-xl duration-300">
        <i class="fab fa-facebook text-3xl sm:text-4xl text-white"></i>
      </a>
      <!-- WhatsApp -->
      <a href="https://wa.me/+524923289703" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center p-4 bg-gradient-to-r from-green-400 to-green-500 rounded-full border-2 border-transparent hover:border-green-300 shadow-lg transition-all transform hover:scale-105 hover:shadow-xl duration-300">
        <i class="fab fa-whatsapp text-3xl sm:text-4xl text-white"></i>
      </a>
      <!-- Twitter -->
      <a href="https://twitter.com/aprasranet" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center p-4 bg-gradient-to-r from-blue-400 to-blue-600 rounded-full border-2 border-transparent hover:border-blue-300 shadow-lg transition-all transform hover:scale-105 hover:shadow-xl duration-300">
        <i class="fab fa-twitter text-3xl sm:text-4xl text-white"></i>
      </a>
    </div>
  </div>
</section>
